<html>
	<head>
		<title> This is my kitten page </title>
	</head>
	<body>
		<div style='border: 10px solid green'>
			<% if @visitor %>
				Hello, <%= @visitor %>!
			<% else %>
				<form action="/hello">
					My name is <%= @name %>.
					What's your name?
					<input type="text" name="name">
					<input type="submit">
				</form>
			<% end %>
			<img src='images/kitten.png'>
		</div>
	</body>
</html>